<nav>
    <img src="../assets/intro-logo.png" class="logo" routerLink = '/'>
    <div class="nav-links" *ngFor="let link of links">
            <a type="button"  routerLinkActive="active" routerLink={{link.url}} routerLinkActive = 'active'>{{link.name}}</a>
    </div>
    <div class="user-info" style="height: 40px; transform: translateY(20px); margin-left: 16%;">
      <a routerLink="/account" *ngIf="currentUser">{{ currentUser.fullName }}</a>
    </div>
</nav>
<div class="slider" (mouseover)="stopSlider()" (mouseout)="startSlider()">
    <div class="slide" *ngFor="let slide of slides; let i = index" [class.active]="i === currentSlide">
      <img [src]="slide.image" alt="poster">
      <div class="info">
        <h2>{{slide.title}}</h2>
        <p>{{slide.description}}</p>
      </div>
    </div>
    <div class="navigation">
        <i class="fas fa-chevron-left prev-btn" (click)="prevSlide()"></i>
        <i class="fas fa-chevron-right next-btn" (click)="nextSlide()"></i>
      </div>
    
      <div class="navigation-visibility">
        <div class="slide-icon" *ngFor="let slide of slides; let i = index" 
             [class.active]="i === currentSlide" (click)="goToSlide(i)"></div>
      </div>
</div>

<div *ngFor="let movie of movies">
  <div class="moviesh">
    <div class="area-name">
      <h1><span class="title">{{ movie.category | titlecase }}</span></h1>
    </div>
    <div class="container">
      <div [routerLink]="['/movie_detail', movieData.id]" class="movie-card" *ngFor="let movieData of movie.data">
        <a [href]="">
          <img class="movie-img" [src]="'https://image.tmdb.org/t/p/w500' + movieData.poster_path" alt="movie poster">
        </a>
        <div class="movie-info">
          <h1>{{ movieData.title }}</h1>
        </div>
        <div class="movie-ratings">
          <p>Genres: 
            <ng-container *ngFor="let genreId of movieData.genre_ids.slice(0, 3)">
              <span>{{ getaGenreName(genreId) | async }}</span>
            </ng-container>
          </p>
          <p>Release Date: {{ movieData.release_date }}</p>
          <p>Rating: {{ movieData.vote_average }}</p>
        </div>
        <div class="div-button"></div>
      </div>
    </div>
  </div>
</div>

<div class="popular">
  <div class="popular-top">
      <h1 class="popular-title">MOST POPULAR SHOWS ON MC</h1>
  </div>
  <div class="popular-main"  style="padding-left: 240px;">
        <div class="mandalorian" *ngFor="let showlist of showlists">
            <a routerLink = {{showlist.url}}><span style="text-align:left">{{showlist.title}}</span></a>
            <span><svg style="color: #f3da35" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"> <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                            fill="#f3da35"></path>
                </svg> &nbsp; 0.0
                </span>
            <hr style="width: 450px; color: white;">
        </div>
  </div>
  <div class="popular-end">
      <a routerLink = '/tvshows'>VIEW MORE</a>
  </div>
</div>

<footer>
  <div class="foot">
      <div class="about-us">
          <div class="about-us-top">
              <h2>About Us</h2>
          </div>
          <div class="foot-links">
              <a href="">Privacy Policy</a>
              <a href="">Contact Us</a>
              <a href="">Terms of Service</a>
          </div>
          <div class="foot-copy">
              <p>&copy; 2023 MovieChief. All rights reserved.</p>
          </div>
      </div>
      <div class="complaint">
          <p>Any Complaints? Let us know!</p>
          <div>
              <form method="post">
                  <textarea name="mess" cols="10" rows="2" id="complaint-input"></textarea>
              </form>

              <button class="complain-button" id="complaint-button" >
                  Send
              </button>
          </div>

      </div>


  </div>
</footer>



